@charset "utf-8";
@import url("default.css");
@import url("layout.css");


.ir_pm {display: block;overflow: hidden;font-size: 0;line-height: 0;text-indent: -9999px;}
.int_inner {width: 1440px;margin: 0 auto;}

#introPg {width: 100%;height: 100%;background: url(/images/korean/main_new/intro_bg_p.jpg) no-repeat center / cover;overflow: hidden;}


/* intHeader */
.intheader_wrap {margin: 0 auto;display: flex;padding-top: 80px;}
.intheader_wrap .int_logo_box a {display: block;width: 224px;height: 54px;background: url(/images/korean/common_gidp/ir.png) no-repeat -246px 0px;}
.intheader_wrap .int_gnb_box{margin-left: 20px;} 
.intheader_wrap .int_gnb_box ul {display: flex;}
.intheader_wrap .int_gnb_box ul li a {padding: 15px;}

/* intcontainer */
.intcont_wrap {display: flex;}

.intcont_wrap .left_wrap {width: calc((100% / 5) * 2);padding: 130px 85px 130px 0;}
.intcont_wrap .left_wrap .left_tit {font-size: 1.875em;margin-bottom: 15px;}
.intcont_wrap .left_wrap .left_tit .tit_ico {width: 40px;height: 24px;background: url(/images/korean/main_new/intro_ar.png) no-repeat center; margin-left: 10px;}
/* .intcont_wrap .left_wrap .link_box1 {width: 400px;height: 400px;} */
.intcont_wrap .left_wrap .link_box1 a {width: 400px;height: 400px;display:block;background:url(/images/korean/main_new/intro_main_logo.png) no-repeat center #fff;box-shadow: 0 0 10px 5px #ddd;border-radius: 10px;}

.intcont_wrap .right_wrap {width: calc((100% / 5) * 3);padding: 130px 0 130px 85px;}
.intcont_wrap .right_wrap .right_tit {font-size: 1.875em;margin-bottom: 15px;text-align: center;color: #fff;}
.intcont_wrap .right_wrap .right_box {width: 600px;height: 400px;margin: 0 auto;}
.intcont_wrap .right_wrap .right_box .right_top a {width: 100%;height: 195px;display: block;background: url(/images/korean/main_new/intro_ban.png) no-repeat center; border-radius: 10px;}
.intcont_wrap .right_wrap .right_box .right_bottom {margin-top: 15px;display: flex;height: 190px;justify-content: space-between;}
/* .intcont_wrap .right_wrap .right_box .right_bottom .link_box2 {width: 190px; height: 190px;} */
.intcont_wrap .right_wrap .right_box .right_bottom .link_box2 a {width: 190px; height: 190px;display: block;background: url(/images/korean/main_new/intro_ir.png) no-repeat 0 0#fff;border-radius: 10px;}
.intcont_wrap .right_wrap .right_box .right_bottom .link_box2.lb_02 a {background-position: -190px 0;}
.intcont_wrap .right_wrap .right_box .right_bottom .link_box2.lb_03 a {background-position: -380px 0;}


